@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply smooth transitions for background and text color changes */
body {
  @apply transition-colors duration-300 ease-in-out;
}

/* Default dark theme styles (black background) */
body {
  color: rgb(255, 255, 255); /* White text for dark mode */
  background-color: rgb(17,16,16); /* Black background for dark mode */
}

/* Light theme styles applied when 'light' class is present on the html element */
html.light body {
  color: rgb(0, 0, 0); /* Black text for light mode */
  background-color: #e4e4e7; /* White background for light mode */
}

::selection {
  background-color: #6366F1; /* accent-primary */
  color: #FFF; /* Optional: Change the text color for better contrast */
}

/* Custom utility class using Tailwind layer */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* Experimental CSS property for text balancing */
  }
}

/* Hide scrollbar for all browsers */
/* For Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
