@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply smooth transitions for background and text color changes */
body {
  @apply transition-colors duration-300 ease-in-out;
}

/* Default dark theme styles (black background) */
body {
  color: rgb(255, 255, 255); /* White text for dark mode */
  background-color: rgb(31, 31, 31); /* Black background for dark mode */
}

/* Light theme styles applied when 'light' class is present on the html element */
html.light body {
  color: rgb(0, 0, 0); /* Black text for light mode */
  background-color: #F5F5F4 /* White background for light mode */
}

/* Custom utility class using Tailwind layer */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* Experimental CSS property for text balancing */
  }
}
